
*~
_data/old-index.html
_data/get_ids.perl
_data/extract_yaml.perl
_site/
_site/*
publications/*.txt
_data/publications.yaml-backup2
figures*
figures*/*
.DS_Store
publications/dissertations/courtney-napoles-thesis-draft-20180613-ccb-comments.pdf
.jekyll-metadata
.jekyll-metadata
.jekyll-cache/*